"*":
  "atom-beautify":
    xml: {}
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "a964bada-e224-4f82-955f-0987e4fe9d4a"
  kite:
    editorMetricsEnabled: "yes"
    hideDocumentationWhenSignatureIsAvailable: false
    showEditorVacanciesNotificationOnStartup: false
    showWelcomeNotificationOnStartup: false
  "linter-clang":
    clangDefaultCFlags: "-Wall -Wextra -Werror"
  "linter-pylama":
    interpreter: "python3"
    usePep257: false
    usePyflakes: false
  "linter-ui-default": {}
  "markdown-preview-plus":
    previewConfig: {}
  minimap: {}
  welcome:
    showOnStartup: false
